.vote-container {
  background-image: url("../paper.jpg");
}

.app-name {
  font-family: 'Sawarabi Mincho', serif;
  margin-left: 10px;
  font-size: 35px;
  color: white;
  text-shadow: 2px 2px rgb(29, 27, 27);
}

.cover-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.vote-buttons {
  margin-top: 20px;
}

.vote-button {
  border: none;
  font-size: 30px;
  padding: 20px;
  cursor: pointer;
  background: none;
}

.judge-para {
  font-family: 'Sawarabi Mincho', serif;
  font-size: 30px;
  text-align: center;
  margin-top:30px;
  color: white;
  text-shadow: 2px 2px rgb(29, 27, 27);
} 

.cover-img {
  height: 320px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.saved-button {
  cursor: pointer;
  height: 30px;
  margin: 30px 20px 0 0;
  border: none;
  font-family: 'Sawarabi Mincho', serif;
  font-size: 20px;
  background: none;
  color: white;
  text-shadow: 2px 2px rgb(29, 27, 27);
}