.app-name {
  font-family: 'Sawarabi Mincho', serif;
  margin-left: 10px;
  font-size: 35px;
}

.cover-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.vote-buttons {
  margin-top: 20px;
}

.judge-para {
  font-family: 'Sawarabi Mincho', serif;
  font-size: 30px;
  text-align: center;
  margin-top:30px;
} 

.cover-img {
  height: 320px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.saved-button {
  cursor: pointer;
  height: 30px;
  margin-top: 20px;
}