.vote-container {
  background-image: url("../book.jpg");
  background-size: cover;
}

.app-name {
  font-family: 'Sawarabi Mincho', serif;
  margin-left: 10px;
  font-size: 35px;
  color: black;
  text-shadow: 3px 3px white;
}

.cover-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.vote-buttons {
  margin-top: 20px;
}

.vote-button {
  border: none;
  font-size: 30px;
  padding: 30px;
  cursor: pointer;
  background: none;
  text-decoration: underline;
}

.judge-para {
  font-family: 'Sawarabi Mincho', serif;
  font-size: 35px;
  text-align: center;
  margin-top:30px;
  color: black;
} 

.cover-img {
  height: 320px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.saved-button {
  cursor: pointer;
  height: 30px;
  margin: 30px 20px 0 0;
  border: none;
  font-family: 'Sawarabi Mincho', serif;
  font-size: 25px;
  background: none;
  color: black;
  text-shadow: 2px 2px white;
}