
.to-read {
  font-family: 'Sawarabi Mincho', serif;
  text-align: center;
  text-decoration: underline;
  color: white;
  text-shadow: 2px 2px rgb(29, 27, 27);
  background-color:rgb(87, 136, 122);
  font-size: 30px;
}

.cover-title {
  font-family: 'Sawarabi Mincho', serif;
  background: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.saved-img {
  height: 250px;
}

.fetched-books {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  justify-content: space-evenly;
  padding-left: 3%;
}


.back-button {
  cursor: pointer;
  height: 30px;
  margin-left: 90%;
  border: none;
  font-family: 'Sawarabi Mincho', serif;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px rgb(29, 27, 27);
  background: none;
  background-color:rgb(87, 136, 122);
}

.nav-bar {
  background-color: rgb(87, 136, 122);
}

.delete-button {
  background: none;
  border:none;
  font-size: 20px;
  cursor: pointer;
}