.saved-container {
  background-image: url("../paper.jpg");
  height: 100vh;
}

.to-read {
  font-family: 'Sawarabi Mincho', serif;
  color: black;
  text-align: center;
  text-decoration: underline;
  text-shadow: 1px 1px rgb(233, 214, 214);
}

.cover-title {
  font-family: 'Sawarabi Mincho', serif;
  background: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.saved-img {
  height: 250px;
}

.fetched-books {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  justify-content: space-evenly;
  padding-left: 3%;
}


.back-button {
  cursor: pointer;
  height: 30px;
  margin-left: 90%;
  color: black;
  border: none;
  font-family: 'Sawarabi Mincho', serif;
  font-size: 20px;
  text-shadow: 1px 1px rgb(233, 214, 214);
  background: none;
}