.app-name-saved {
  font-family: 'Sawarabi Mincho', serif;
  margin-left: 10px;
  font-size: 35px;
  color: black;
  text-shadow: 3px 3px white;
}

.to-read {
  font-family: 'Sawarabi Mincho', serif;
  text-decoration: underline;
  color: white;
  text-shadow: 2px 2px rgb(29, 27, 27);
  background-color:rgb(87, 136, 122);
  font-size: 30px;
  margin-top: 60px;
}

.cover-title {
  font-family: 'Sawarabi Mincho', serif;
  background: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.saved-img {
  height: 250px;
}

.fetched-books {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  justify-content: space-evenly;
  padding-left: 3%;
}

.back-button {
  cursor: pointer;
  margin-top: 20px;
  padding: 15px;
  border: none;
  font-family: 'Sawarabi Mincho', serif;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px rgb(29, 27, 27);
  background: none;
  background-color:rgb(87, 136, 122);
}

.nav-bar {
  background-color: rgb(87, 136, 122);
  display: flex;
  justify-content: space-between;
}

.delete-button {
  background: none;
  border:none;
  font-size: 20px;
  cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .back-button {
    font-size: 15px;
    width:70px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .to-read {
    font-size: 25px;
    padding-top: 40px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .app-name-saved {
    font-size: 30px;
    width: 100px;
  }
}